.App {
  padding: 40px 0 100px;
  min-height: 100vh;
  background: #73a5c7;
}

.App-header {
  text-align: center;
  margin-bottom: 40px;
}

.App-footer {
  text-align: center;
}

.App a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
