.Dictionary section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0 0 0/ 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6x 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #333;
}
