.Dictionary {
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.Dictionary section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 10px 15px rgba(0 0 0/ 15%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6x 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #333;
}

.Dictionary .hints {
  font-size: 11px;
  margin-top: 5px;
}
